@(customer: models.users.Customer)

  <!-- Pass page title and user on to main -->
@main("Shopping Basket", customer) {
  <div class="row">
    <div class="col-md-12">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
        @flash.get("success")
        </div>
      }

      <table class="table table-bordered table-hover table-condensed">
        <thead>
            <!-- The header row-->
          <tr>
            <th>Ticket ID</th>
            <th>Customer Name</th>
            <th>Destination</th>
            <th>Flight Class</th>
            <th>Number of Tickets</th>
            <th>Item Price</th>
            <th>Total</th>
            <th>Add Ticket</th>
            <th>Reduce Ticket</th>
          </tr>
        </thead>
        <tbody>
        @if(customer.getBasket() != null) {
            <!-- Start of For loop - For each p in products add a row -->
          @for(i <- customer.getBasket().getBasketItems()) {
            <tr>
              <td>@i.getTicket.getId</td>
              <td>@i.getTicket.getFirstname @i.getTicket.getLastname</td>
              <td>@i.getTicket.getFlight.getDestination  ----->  @i.getTicket.getFlight.getDest_city</td>
              <td>@i.getTicket.getTicketClass</td>
              <td>@i.getNoOfTickets</td>
              <td>&euro; @("%.2f".format(i.getPrice))</td>
              <td>&euro; @("%.2f".format(i.getItemTotal))</td>
              <td><a href="@routes.ShoppingController.removeOne(i.getId)"><span class="glyphicon glyphicon-minus-sign"></span></a></td>
              <td><a href="@routes.ShoppingController.addOne(i.getId)"><span class="glyphicon glyphicon-plus-sign"></span></a></td>
              <td><a href="@routes.ShoppingController.cancelBooking(i.getId)" class="btn btn-danger btn-sm" onclick="return confirmDel();">
                <span class="glyphicon glyphicon-trash"></span>Cancel Booking</a><td>
              <td><a href="/" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-euro"></span> Pay</a></td>
            </tr>
          }<!-- End of For loop -->
        }
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-12">
          <p class="text-right"><strong>Basket Total: &euro; @("%.2f".format(customer.getBasket.getBasketTotal))</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="text-right">
            <a href="@routes.ShoppingController.emptyBasket()" class="btn btn-danger btn-sm" onclick="return confirmDel();">
              <span class="glyphicon glyphicon-trash"></span> Empty Basket</a>
          </p>
        </div>
        <div class="col-md-6">
          <p class="text-right">
            <a href="@routes.ShoppingController.placeOrder()" class="btn btn-success btn-sm">
              <span class="glyphicon glyphicon-euro"></span> Place Order</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script>
          // JavaScript function returns true if user clicks yes, otherwise, false
          function confirmDel() {
            return confirm('Are you sure?');
          }
  </script>
}