@(customer: models.users.Customer, order: models.shopping.ShopOrder)

@main("Order Confirmation", customer) {
  <div class="row">
    <div class="col-md-12">
      @if(flash.containsKey("success")) {
        <div class="alert alert-success">
        @flash.get("success")
        </div>
      }

      <table class="table table-bordered table-hover table-condensed">
        <thead>
            <!-- The header row-->
          <tr>
            <th>Ticket ID</th>
            <th>Customer Name</th>
            <th>Destination</th>
            <th>Flight Class</th>
            <th>Number of Tickets</th>
            <th>Item Price</th>
            <th>Total</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        @if(order != null) {
            <!-- Start of For loop - For each p in products add a row -->
          @for(i <- order.getItems) {
            <tr>
              <td>@i.getTicket.getId</td>
              <td>@i.getTicket.getFirstname @i.getTicket.getLastname</td>
              <td>@i.getTicket.getFlight.getDestination  ----->  @i.getTicket.getFlight.getDest_city</td>
              <td>@i.getTicket.getTicketClass</td>
              <td>@i.getNoOfTickets</td>
              <td>&euro; @("%.2f".format(i.getPrice))</td>
              <td>&euro; @("%.2f".format(i.getItemTotal))</td>
              <td>Paid</td>
            </tr>
          }<!-- End of For loop -->
        }
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-12">
          <p class="text-right"><strong>Order Total: &euro; @("%.2f".format(order.getOrderTotal))</strong></p>
        </div>
      </div>
    </div>
  </div>
}